body {
  font-size: 16px;
  background-color: #fff;
  color: #0000FF;
}
h1 {
  font-family: 'Avenir';
  font-size: 2em; /** 32 px **/
  line-height: 1.4; /** 120% **/
  color: #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}
h3 {
  font-family: 'Archer';
  font-size: 1.3em; /** 20.8 px **/
  line-height: 1.3;
  color: #808080;
  padding-bottom: 5px;
}
p {
  font-family: 'Avenir';
  line-height: 1.4;
  color: #000000;
  padding-top: 10px;
  padding-left: 20px;
}
figcaption {
  font-family: 'Archer';
  font-size: 0.8em;
  line-height: 1.2;
  color: #808080;
  padding-top: 10px;
}
nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: auto;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 80%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
